@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&family=Playfair+Display:wght@600;700&display=swap');
@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
  --color-coral: #F26076;
  --color-orange: #FF9760;
  --color-yellow: #FFD150;
  --color-teal: #458B73;
  --font-sans: "Nunito", sans-serif;
  --font-display: "Playfair Display", serif;
}